@{
    ViewData["Title"] = "List-Bill";
}
<div class="container py-5">
    <h1 class="text-center text-uppercase mb-5">Danh Sách Hóa Đơn</h1>

    <div>
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>Họ Tên</th>
                    <th>Tên Tài Khoản</th>
                    <th>Email</th>
                    <th>Giới Tính</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>

            <tbody class="text-center">
                <tr>
                    <td>Đặng Trần Xuân Bắc</td>
                    <td>bacdtx</td>
                    <td>bacdtxph31853@fpt.edu.vn</td>
                    <td>Nam</td>
                    <td>
                        <a class="btn btn-primary">Chi Tiết</a>
                        <a class="btn btn-warning">Sửa</a>
                        <a class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
