<div class="d-flex justify-content-center bg-dark pt-5 pb-5 flex-column align-items-center">
    <div>
        <h3 class="text-light">Bạn đã thanh toán thanh toán</h3>
    </div>
    <div class="pt-3 mb-3">
        <a class="btn btn-success">Xem phim đã mua ngay!</a>
    </div>
</div>