@using Microsoft.AspNetCore.Identity
@inject IHttpContextAccessor context;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LVT - Kho phim chất lượng của bạn</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
    <link rel="shortcut icon" href="~/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


</head>

<body id="top">
    <header class="header p-0" data-header style="background-color: #1f2229">
        <div class="container">

            <div class="overlay" data-overlay></div>

            <a asp-action="Index" asp-controller="Home" class="logo">
                <img src="~/assets/images/logo.svg" alt="Filmlane logo">
            </a>

            <div class="header-actions">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

                <div class="lang-wrapper">
                    <label for="language">
                        <ion-icon name="globe-outline"></ion-icon>
                    </label>

                    <select name="language" id="language">
                        <option value="vi">VN</option>
                        <option value="en">EN</option>

                    </select>
                </div>


                @if (context.HttpContext.Session.GetString("username") != null)
                {
                    <li class="nav-item mx-2">
                        <button class="btn text-light fw-bold rounded-pill px-4 py-2 dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: 2px solid #e2d703">
                            <i class="bi bi-person-circle"></i>
                            @context.HttpContext.Session.GetString("username")
                        </button>
                        @if (context.HttpContext.Session.GetString("Role") == "Admin")
                        {
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Quản Lý</a></li>
                                <li><a class="dropdown-item" href="#">Đơn Mua</a></li>
                                <li><a class="dropdown-item" asp-action="LogOut" asp-controller="Asset">Đăng Xuất</a></li>
                            </ul>
                        }
                        else if (context.HttpContext.Session.GetString("Role") == "Customer")
                        {
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Thông Tin Chi Tiết</a></li>
                                <li><a class="dropdown-item" asp-action="MyBill" asp-controller="Bill">Đơn Mua</a></li>
                                <li><a class="dropdown-item" asp-action="LogOut" asp-controller="Asset">Đăng Xuất</a></li>
                            </ul>

                        }

                    </li>

                    @* <li class="nav-item mx-2">
                <a asp-controller="Asset" asp-action="Logout" >
                <button type="button" class="btn text-white fw-bold rounded-pill px-4 py-2" style="border: 2px solid red">
                Đăng Xuất
                </button>
                </a>
                </li> *@
                }
                else
                {
                    <li class="nav-item mx-2">
                        <a asp-controller="Asset" asp-action="Login">
                            <button class="btn text-white fw-bold rounded-pill px-4 py-2" style="border: 2px solid #e2d703">
                                Đăng nhập
                            </button>
                        </a>

                    </li>
                }

            </div>

            <button class="menu-open-btn" data-menu-open-btn>
                <ion-icon name="reorder-two"></ion-icon>
            </button>

            <nav class="navbar" data-navbar>

                <div class="navbar-top">

                    <a href="~/index.html" class="logo">
                        <img src="~/assets/images/logo.svg" alt="Filmlane logo">
                    </a>

                    <button class="menu-close-btn" data-menu-close-btn>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>

                </div>

                <ul class="navbar-list">

                    <li>
                        <a href="~/index.html" class="navbar-link">Trang chủ</a>
                    </li>

                    <li>
                        <a asp-action="ListOfMoviesGenres" asp-controller="Movie" class="navbar-link text-decoration-none">Phim</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link text-decoration-none">Truyền hình</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link text-decoration-none">Báo giá</a>
                    </li>

                </ul>

                <ul class="navbar-social-list">

                    <li>
                        <a href="#" class="navbar-social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="navbar-social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="navbar-social-link">
                            <ion-icon name="logo-pinterest"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="navbar-social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="navbar-social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </nav>

        </div>
    </header>
    <div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="background-color: #1f2229">

        <div class="footer-top" style="background: url(https://codewithsadee.github.io/filmlane/assets/images/footer-bg.jpg) no-repeat">
            <div class="container">

                <div class="footer-brand-wrapper">

                    <a href="~/index.html" class="logo">
                        <img src="~/assets/images/logo.svg" alt="Filmlane logo">
                    </a>

                    <ul class="footer-list">

                        <li>
                            <a href="~/index.html" class="footer-link">Trang chủ</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Phim</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Truyền hình</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Thể loại</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Giá</a>
                        </li>

                    </ul>

                </div>

                <div class="divider"></div>

                <div class="quicklink-wrapper">

                    <ul class="quicklink-list">

                        <li>
                            <a href="#" class="quicklink-link">Faq</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink-link">Help center</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink-link">Terms of use</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink-link">Privacy</a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-pinterest"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2024 <a href="#">The LVT Movies</a>. All Rights Reserved
                </p>

                <img src="~/assets/images/footer-bottom-img.png" alt="Online banking companies logo"
                     class="footer-bottom-img">

            </div>
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up"></ion-icon>
    </a>

    <script src="~/js/script.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
