@model IEnumerable<Movies.DAL.Models.MovieGenre>
<link href="/css/bootstrap.min.css" rel="stylesheet">
@{
    ViewData["Title"] = "ListOfMoviesGenres";
}

<style>
    .upcoming{
        background-size:cover;
        background-position:center;
        padding-block: var(--section-padding);

    }
</style>

@* <div class="m-0" style="background: url(https://codewithsadee.github.io/filmlane/assets/images/footer-bg.jpg) no-repeat ;height:auto;width:auto ;">
    <div class="container">

        <h2 class="text-white">
            Phim >
            <div class="btn-group bg-transparent">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Thể loại</option>
                    <option value="">Kinh dị</option>
                    <option value="">Hài</option>
                    <option value="">Hành động</option>
                </select>
            </div>
        </h2>
    </div>

</div> *@
<div style="background: url(https://codewithsadee.github.io/filmlane/assets/images/footer-bg.jpg)">
    <section class="hero" style="background: url(https://image.tmdb.org/t/p/original/7lmBufEG7P7Y1HClYK3gCxYrkgS.jpg) no-repeat">
        <div class="container">
            <div class="hero-content">
                <h1 class="h1 iron-title">
                    <strong>NGƯỜI SẮT 2</strong>
                </h1>

                <div class="meta-wrapper">

                    <div class="badge-wrapper">
                        <div class="badge badge-fill text-dark">PG 16</div>

                        <div class="badge badge-outline">HD</div>
                    </div>

                    <div class="ganre-wrapper">
                        <a href="#" class="nav-link p-0">Khoa học viễn tưởng</a>

                    </div>

                    <div class="date-time">

                        <div>
                            <ion-icon name="calendar-outline"></ion-icon>

                            <time datetime="2010">2010</time>
                        </div>

                        <div>
                            <ion-icon name="time-outline"></ion-icon>

                            <time datetime="PT125M">125p</time>
                        </div>

                    </div>

                </div>

                <button class="btn text-white fw-bold rounded-pill px-4 py-2 d-flex align-items-center" style="border: 2px solid #e2d703; background-color: #11141d">
                    <ion-icon name="play"></ion-icon>

                    <span>Xem ngay</span>

                </button>
                <button class="btn text-white mt-2 fw-bold rounded-pill px-4 py-2 d-flex align-items-center" style="border: 2px solid #C20000; background-color: #11141D">
                    <ion-icon name="play"></ion-icon>

                    <span>Thông tin khác</span>

                </button>

            </div>

        </div>
    </section>

    <!--UPCOMMING-->
    <!--
          - #UPCOMING
        -->

    <section class="upcoming" style="background: url(https://codewithsadee.github.io/filmlane/assets/images/footer-bg.jpg) no-repeat">
        <div class="container">

            <div class="flex-wrapper">

                <div class="title-wrapper">
                    <p class="section-subtitle">Online Streaming</p>

                    <h2 class="h2 section-title">RELATED MOVIES</h2>
                </div>

                <ul class="filter-list">

                    <li>
                        <button class="filter-btn">Movies</button>
                    </li>

                    <li>
                        <button class="filter-btn">TV Shows</button>
                    </li>

                    <li>
                        <button class="filter-btn">Anime</button>
                    </li>

                </ul>

            </div>

            <ul class="movies-list  has-scrollbar">

                <li>
                    <div class="movie-card">

                        <a asp-controller="Movie" asp-action="Detail">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/l0OdqQ9z12GGckRP8cmCcVfoflF.jpg" alt="Deadpool 2">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Deadpool 2</h3>
                            </a>

                            <time datetime="2018">2018</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">HD</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT120M">120 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>7.5</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="/assets/images/upcoming-2.png"
                                     alt="Doctor Strange in the Multiverse of Madness movie poster">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Doctor Strange in the Multiverse of Madness</h3>
                            </a>

                            <time datetime="2022">2022</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">4K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT126M">126 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>NR</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/zzazLz0kpt4TArz96HtEE5lYpyx.jpg" alt="X-MEN">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">X-Men: Phượng Hoàng Bóng Tối</h3>
                            </a>

                            <time datetime="2019">2019</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">2K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT114M">114 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>9.8</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/3qkUzHe7MdNXfInMRtIogP8K82e.jpg"
                                     alt="Thần sấm III: Tận Thế Ragnarok">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Thần sấm III: Tận Thế Ragnarok</h3>
                            </a>

                            <time datetime="2017">2017</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">HD</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT170M">170 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8,0<a href="#"></a></data>
                            </div>
                        </div>

                    </div>
                </li>

            </ul>

        </div>
        <br />
        <div class="container">

            <ul class="movies-list  has-scrollbar">

                <li>
                    <div class="movie-card">

                        <a asp-controller="Movie" asp-action="Detail">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/9ZXDxPBesqJeQPbaA7xj0dZtClV.jpg" alt="Chiến Binh Báo Đen">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Chiến Binh Báo Đen</h3>
                            </a>

                            <time datetime="2018">2018</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">HD</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT134M">134 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8.0</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/o0dmWIrF63lBPQVFdvqaWUxQ7xz.jpg"
                                     alt="Người Sắt 3">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Người Sắt 3</h3>
                            </a>

                            <time datetime="2013">2013</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">HD</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT130M">130 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>7.1</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/8gHc1cthgTOkmMiOREodCVZgJ7P.jpg" alt="Avengers: Infinity War">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Avengers: Infinity War</h3>
                            </a>

                            <time datetime="2018">2018</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">4K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT159M">159 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>9.5</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="https://image.tmdb.org/t/p/original/tNm6pNf9Xe1gPKu4xqPEWj0issu.jpg"
                                     alt="Người Nhện: Trở Về Nhà">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Người Nhện: Trở Về Nhà</h3>
                            </a>

                            <time datetime="2017">2017</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">2K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT133M">133 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8,4<a href="#"></a></data>
                            </div>
                        </div>

                    </div>
                </li>

            </ul>

        </div>
    </section>


    <!--UPCOMMING-->
</div>



   
        


