@model IEnumerable<Movies.DAL.Models.Movie>

@{
    ViewData["Title"] = "ListOfMoviesGenres";
}
<div style="background-color: #110f1a">

    <h1 class="py-5 text-center">Danh Sách Phim</h1>

    <div class="mb-5">
        <div class="dropdown w-75">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Thể Loại
            </button>
            <ul class="dropdown-menu">

                @foreach (var item in ViewBag.lstGenre)
                {

                    <li class="dropdown-item"><a asp-action="ListOfMoviesGenres" asp-controller="Movie" asp-route-id="@item.Id">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="container pb-5">

        <div class="row">
            @foreach (var item in Model)
            {

                <a asp-action="Detail" asp-controller="Movie" asp-asp-route-id="@item.Id" class="col-3 mb-5">
                    <img width="100%" src="@item.PosterURL" />

                </a>
            }

        </div>
    </div>
</div>
