@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<div style="background-color: #1f2229">
    <div class="container text-white py-5">
        <div>

        </div>
        <div>
            <div id="video-container" style="max-width: 100%; margin: 0px auto; background-color: #fff; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden;">
                <video controls autoplay style="width: 100%; display: block;">
                    <source src="movie.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="d-flex justify-content-center align-items-center mb-3" style="color: white;">
                <div style="font-weight: bold;">Server:</div>
                <div class="d-flex flex-row">
                    <div style="padding: 12px 15px; text-align: left;">
                        <button type="button" class="btn btn-outline-warning" style="border-color: yellow; color: white;">Server 1</button>
                    </div>
                    <div style="padding: 12px 15px; text-align: left;">
                        <button type="button" class="btn btn-outline-warning" style="border-color: yellow; color: white;">Server 2</button>
                    </div>
                </div>
            </div>

            <div @* style="margin-left: 140px" *@>
                <h4>Danh sách Tập Phim</h4>
                <div class="d-flex justify-content-center">
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 1</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 2</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 3</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 4</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 5</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 6</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 7</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 8</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 9</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 10</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 11</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 12</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 13</button>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 1</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 2</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 3</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 4</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 5</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 6</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 7</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 8</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 9</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 10</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 11</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 12</button>
                    <button style="margin-right: 10px; color: white; font-weight: bold;" class="btn btn-warning">Tập 13</button>
                </div>
            </div>

            <div>
                <section class="upcoming" style="background: url(https://codewithsadee.github.io/filmlane/assets/images/footer-bg.jpg) no-repeat">
                    <div class="container">
                        <div class="flex-wrapper">
                            <div class="title-wrapper">
                                <p class=" h3 section-subtitle">CÓ THỂ BẠN THÍCH XEM</p>
                            </div>

                            <div class="justify-content-end">
                                <p class="h3 section-title">Xem thêm</p>
                            </div>
                        </div>

                        <ul class="movies-list  has-scrollbar">
                            <li>
                                <div class="movie-card">
                                    <a asp-controller="Movie" asp-action="Detail">
                                        <figure class="card-banner">
                                            <img src="https://image.tmdb.org/t/p/original/3qkUzHe7MdNXfInMRtIogP8K82e.jpg" alt="Deadpool 2">
                                        </figure>
                                    </a>

                                    <div class="title-wrapper">
                                        <a href="./movie-details.html">
                                            <h3 class="card-title">Deadpool 2</h3>
                                        </a>
                                        <time datetime="2018">2018</time>
                                    </div>

                                    <div class="card-meta">
                                        <div class="badge badge-outline">HD</div>
                                        <div class="duration">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="PT120M">120 min</time>
                                        </div>

                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <data>7.5</data>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="movie-card">
                                    <a href="./movie-details.html">
                                        <figure class="card-banner">
                                            <img src="https://image.tmdb.org/t/p/original/3qkUzHe7MdNXfInMRtIogP8K82e.jpg"
                                                 alt="Doctor Strange in the Multiverse of Madness movie poster">
                                        </figure>
                                    </a>

                                    <div class="title-wrapper">
                                        <a href="./movie-details.html">
                                            <h3 class="card-title">Doctor Strange in the Multiverse of Madness</h3>
                                        </a>
                                        <time datetime="2022">2022</time>
                                    </div>

                                    <div class="card-meta">
                                        <div class="badge badge-outline">4K</div>
                                        <div class="duration">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="PT126M">126 min</time>
                                        </div>

                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <data>NR</data>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="movie-card">
                                    <a href="./movie-details.html">
                                        <figure class="card-banner">
                                            <img src="https://image.tmdb.org/t/p/original/3qkUzHe7MdNXfInMRtIogP8K82e.jpg" alt="X-MEN">
                                        </figure>
                                    </a>

                                    <div class="title-wrapper">
                                        <a href="./movie-details.html">
                                            <h3 class="card-title">X-Men: Phượng Hoàng Bóng Tối</h3>
                                        </a>
                                        <time datetime="2019">2019</time>
                                    </div>

                                    <div class="card-meta">
                                        <div class="badge badge-outline">2K</div>
                                        <div class="duration">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="PT114M">114 min</time>
                                        </div>

                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <data>9.8</data>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="movie-card">
                                    <a href="./movie-details.html">
                                        <figure class="card-banner">
                                            <img src="https://image.tmdb.org/t/p/original/3qkUzHe7MdNXfInMRtIogP8K82e.jpg"
                                                 alt="Thần sấm III: Tận Thế Ragnarok">
                                        </figure>
                                    </a>

                                    <div class="title-wrapper">
                                        <a href="./movie-details.html">
                                            <h3 class="card-title">Thần sấm III: Tận Thế Ragnarok</h3>
                                        </a>
                                        <time datetime="2017">2017</time>
                                    </div>

                                    <div class="card-meta">
                                        <div class="badge badge-outline">HD</div>
                                        <div class="duration">
                                            <ion-icon name="time-outline"></ion-icon>
                                            <time datetime="PT170M">170 min</time>
                                        </div>

                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <data>8,0<a href="#"></a></data>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>