@model Movies.DAL.Models.User
@{
    ViewData["Title"] = "Detail_Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-image: url('https://designercomvn.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2017/07/26020212/poster-phim-hanh-dong.jpg'); /* Thay đổi với đường dẫn của hình ảnh của bạn */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: 'Poppins', sans-serif;
        }

        .profile-container {
            background: rgba(0, 0, 0, 0.7);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 100px;
            color: #fff;
            max-width: 600px;
            margin: 50px auto; /* Điều chỉnh giữa và đẩy xuống */
        }

        .form-group {
            margin-bottom: 20px;
        }

        /* Làm cho ô input lớn hơn theo chiều dọc */
        .form-control {
            height: 50px; /* hoặc số px bạn muốn */
        }
    </style>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="profile-container">
                    <!-- FullName Input -->
                    <div class="form-group">
                        <label for="FullName">Họ và tên</label>
                        <input type="text" class="form-control" asp-for="@Model.FullName"  />
                    </div>
                    <!-- Email Input -->
                    <div class="form-group">
                        <label for="Email">Địa chỉ Email</label>
                        <input type="text" class="form-control" asp-for="@Model.Email"  />
                    </div>
                    <!-- UserName Input -->
                    <div class="form-group">
                        <label for="userName">Tên đăng nhập</label>
                        <input type="text" class="form-control" asp-for="@Model.UserName"  />
                    </div>

                    <div class="form-group">
                        <label for="password"> Mat khau </label>
                        <input type="text" class="form-control" asp-for="@Model.Password"  />
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary btn-block">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and jQuery -->
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
